database:
	default:
		dsn: 'mysql:host=127.0.0.1:3307;dbname=test'
		user: root
		password:
		options:
			lazy: yes
			charset: utf8mb4
			driverClass: ModulIS\MySqlDriver
	withoutdriver:
		dsn: 'mysql:host=127.0.0.1:3307;dbname=test'
		user: root
		password:
		options:
			lazy: yes
			charset: utf8mb4

services:
	- ModulIS\Orm\AnimalRepository
