database:
	dsn: 'mysql:host=127.0.0.1;dbname=test'
	user: root
	password: '1234'
	options:
		lazy: yes
		charset: utf8mb4
		driverClass: ModulIS\MySqlDriver

services:
	- ModulIS\Orm\AnimalRepository
